.form2{
    width: 40%;
    height: auto;
    padding: 4%;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 15px rgba(31, 31, 31, 0.226);
    border-radius: 10px;
}

.form2 .form2-grp{
    width: 100%;
    margin-bottom: 15px;
}
.form2 .form2-grp .form2-label{
    /* width: 100%; */
    display: block;
    margin-bottom: 4px;
}
.form2 .form2-grp .form2-inp{
    width: 100%;
    height: 40px;
    border: 2px solid rgb(73, 104, 150);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    outline: none;
    background-color: transparent;
}
.form2 .form2-grp .form2-btn{
    width: 140px;
    height: 40px;
    background-color: rgb(74, 87, 201);
    color: #fff;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
}
.form2 .form2-grp .form2-btn:disabled{
    cursor: not-allowed;
}